/* Body */

@font-face {
    font-family: Handjet;
    src: url('fonts/Handjet/Handjet-ExtraBold.ttf');
}

body {
    overflow-x: hidden;
    background-color: rgba(0, 153, 158, 0.205);

}

/* Header */

.navbar {
    width: 100%;
    justify-content: center;
    background-color: rgb(85, 179, 196);
    height: 50px;
    position: fixed;
    top: 0px;
}

.navbar a {
    color: white;
}

/* End of Header */

/* Main */

main {
    margin-top: 50px;
}

/* Camp Section */

.camp {
    margin-top: 15vh;
    height: fit-content;
    padding: 10px;
}

.campContain {
    padding: 0px;
    margin: 0px;
    width: calc(100%/3);
    height: fit-content;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(85, 179, 196, 0.603);
}

.campContain img {
    max-width: 100%;
    object-fit: cover;
}

.campContain font {
    color: black;
    font-family: Handjet;
    font-size: 24px;
}