/* Body */

@font-face {
    font-family: Handjet;
    src: url('fonts/Handjet/Handjet-ExtraBold.ttf');
}

@font-face {
    font-family: Quicksand;
    src: url('fonts/Quicksand/Quicksand-Bold.ttf');
}

body {
    overflow-x: hidden;
    background-color: rgba(0, 153, 158, 0.205);

}



/* Main */

main {
    margin-top: 50px;
}

/* Camp Section */

.camp {
    align-items: center;
    margin-top: 5em;
    height: fit-content;
    padding: 3em;
    display: grid;
    grid-gap: 5em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: left;
}

.campContain {
    padding: 0px;
    margin: 0px;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(85, 179, 196, 0.603);
    box-shadow: 0px 0px 35px rgb(0, 0, 0);
    transition: box-shadow 1s;
}

.campContain:hover {
    box-shadow: 0px 0px 50px rgb(12, 39, 88);
}

.campContain img {
    min-width: 100%;
    object-fit: cover;
    max-width: 100%;
    height: 160px;
}

.campContain font {
    color: black;
    font-family: Quicksand;
    font-size: 24px;
}

/* Camp Data */

.data1 {
    position: relative;
    display: none;
    color: white;
    background-color: rgba(1, 101, 114, 0.849);
    justify-content: center;
    align-items: start;
    text-align: center;
    width: 100%;
    min-width: fit-content;
    height: fit-content;
    max-height: 90vh;
    grid-column: span 2;
    grid-auto-flow: row;
    overflow: scroll;
    padding-bottom: 10%;
}


@media (max-width:1200px) {
    .data1 {
        grid-column: span 1;
    }
}

.item span {
    position: absolute;
    left: 10px;
    text-align: center;
}



.table1 {
    margin-top: 10%;
}

.table1 td {
    padding: 5px;
}

.table2 {
    color: black;
    background-color: white;
    margin-top: 10%;
}

.table2 th {
    border: 1px solid black;
}

.table2 td {
    font-size: 0.8em;
    border: 1px solid black;
    padding: 10px;
}