/* Boyd */

body {
    overflow-x: hidden;
}



/* Header */

.navbar {
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: fit-content;
}

.navbar a {
    color: white;
}

/* End of Header */

/* Main */

main {
    height: 85vh;
    align-items: center;
    display: grid;
    justify-content: center;
    text-align: center;
}

form {
    margin-top: 50px;
    border: 1px solid blue;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 25px;
}

td {

    text-align: right;
    padding: 20px;
}

#gender {
    text-align: center;
    tab-size: 8;
}