<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camp</title>
</head>
<body>
    <!-- Header Section -->
    <header>
        <nav>
            <ul>
                <li class="nav-item col"><a class="nav-link" href="./">Home</a></li>
                <li class="nav-item col"><a class="nav-link" href="Camp">Camp</a></li>
                <li class="nav-item col"><a class="nav-link" href="Person">Person</a></li>
                <li class="nav-item col"><a class="nav-link" href="Requirements">Requirements</a></li>
            </ul>
        </nav>
    </header>
<!-- End Of Header Section -->

<!-- Main Secion -->
<main>
    
</main>
</body>
</html>